<!DOCTYPE html>
<html lang="en">
<head>
   
   <style>
       div {
      font-family: sans-serif;
      text-align: center;
      background-color: #e4fbff;
      padding: 1rem;
 
      }

      img {
        height: 15rem;
        width: 25rem;
      }

       h1{
        color: #214151;
      }
      p{
        color: #5b6d5b;
        font-size: 0.7rem;
        font-style: italic;
      }

      h3{
        color: #214151;
      }

      h4{
        color: #aa2b1d
      }
     
    </style>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    {{{body}}}
</body>
</html>