<!DOCTYPE html>
<html lang="en">
<head>
   
  


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body>
       <div class="App">
      <img
        class="image"
        src="https://res.cloudinary.com/dtxrrhfqj/image/upload/v1619963987/New_Project_4_wrvzjv.png"
        alt="logo"
      />
      <h1 class="heading">ICONIC Properties</h1>
      <h3 class="code">Your code is <strong>{{code}}</strong></h3>
      <p class="message">Code expires in 1 hr</p>
      <p class="message">
        If you haven't requested to change your password please ignore this mail. Your password won't change.
      </p>
    </div>
</body>
</html>