<!DOCTYPE html>
<html lang="en">
<head>
   
  


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body>
       <div className="App">
      <img
        className="image"
        src="https://res.cloudinary.com/dtxrrhfqj/image/upload/v1613403454/a5c099e47364d75cb186b24438909c8c-removebg-preview_qc31rq.png"
        alt="logo"
      />
      <h1 className="heading">Iconic Real Estate</h1>
      <h3 className="code">Your code is <strong>{{code}}</strong></h3>
      <p className="message">Code expires in 1 hr</p>
    </div>
</body>
</html>